<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uem.supplyandapply"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.uem.supplyandapply.JobsListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uem.supplyandapply.AddJobActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.uem.supplyandapply.ApplianceListActivity"
            android:label="@string/title_activity_appliance_list" >
        </activity>
        <activity
            android:name="com.uem.supplyandapply.PartsEstimationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.uem.supplyandapply.CurrentJobActivity"
            android:label="Current Job" >
        </activity>
        <activity
            android:name="com.uem.supplyandapply.ViewPartsActivity"
            android:label="Parts View" >
        </activity>
    </application>

</manifest>
